body {
    background-image: url('../images/background.png');
    background-size:contain;
}

h1 {
    color: white;
    font-size: 80px;
    font-weight: 900;
    font-style: italic;
    text-decoration: underline;
}

header {
    display: flex;
    justify-content: center;
}

